Source: deepin-terminal
Section: utils
Priority: extra
Maintainer: Yueqian Zhang <zhangyueqian@linuxdeepin.com>
Build-Depends: debhelper (>= 9), python
Standards-Version: 3.9.5
Homepage: http://www.linuxdeepin.com/

Package: deepin-terminal
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
         python, deepin-ui, python-vte, expect, 
         hicolor-icon-theme, xdotool, python-deepin-gsettings
Provides: x-terminal-emulator
Description: Terminal Emulator from LinuxDeepin.
 This is a new generation terminal emulator made by linuxdeepin team.
 Depends on Deepin-UI.
 .
 More features to be discovered!
