Source: deepin-software-center
Section: admin
Priority: optional
Maintainer:  Li Longyu (Ai Kotoba) <leaeasy@gmail.com>
Build-Depends: debhelper (>= 9), python
Standards-Version: 3.9.5

Package: deepin-software-center
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 python,
 python-apt,
 deepin-ui,
 deepin-software-center-data,
 deepin-gettext-tools,
 python-xappy,
 python-deepin-storm,
 xdelta3,
 python-geoip,
 deepin-download-service,
Description: Software center for linux deepin
 Linux Deepin (formerly Hiweed GNU/Linux) is an easy-to-use Chinese
 distribution based on Ubuntu. 
 .
 Its features include pre-configured 
 Chinese applications and tools, such as Chinese input method, the 
 LibreOffice office suite, Chinese-English and English-Chinese 
 dictionaries, and Chinese TrueType fonts.
 .
 This package is deepin-software-center which designed for Linux Deepin
 which improves user experience greatly.
