Source: deepin-music
Section: sound
Priority: extra
Maintainer: Li Longyu <leaeasy@gmail.com>
Build-Depends: debhelper (>= 9), python
Standards-Version: 3.9.5
Homepage: http://www.linuxdeepin.com/

Package: deepin-music-player
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
         deepin-ui, python-mutagen, python-gst0.10,
         python-pyquery, python-cddb, python-pycurl,
         python-chardet, python-keybinder,
         gstreamer-0.10-plugins-good
Suggests: gstreamer0.10-plugins-bad-multiverse, python-mmkeys
Description: Awesome music player with brilliant and tweakful UI
 Deepin-UI based, gstreamer front-end, with features likes search music by 
 pinyin,quanpin, colorful lyrics supports, and more powerfull functions you 
 will found.
 .
 Just enjoy it! have fun!
