Source: golang-gls
Section: devel
Priority: extra
Maintainer: Deepin Loongson Builder <xielingyun@linuxdeepin.com>
Build-Depends: debhelper (>= 9), dh-golang, golang-go | loongson-golang
Standards-Version: 3.9.5
Homepage: https://github.com/jtolds/gls

Package: golang-gls-dev
Architecture: all
Depends: ${misc:Depends}
Built-Using: ${misc:Built-Using}
Description: Goroutine local storage
