#!/usr/bin/make -f
# -*- makefile -*-
#
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_clean:
	rm -rf debian/gsettings-override
	for i in `ls | grep override`; do cat $$i >> debian/gsettings-override && echo '\n' >> debian/gsettings-override ; done

override_dh_installgsettings:
	dh_installgsettings --priority=99

