Source: golang-fsnotify
Section: devel
Priority: extra
Maintainer: Deepin Loongson Builder <xielingyun@linuxdeepin.com>
Build-Depends: debhelper (>= 9), dh-golang, golang-go | loongson-golang
Standards-Version: 3.9.5
Homepage: http://fsnotify.org/

Package: golang-fsnotify-dev
Architecture: all
Depends: ${misc:Depends}
Built-Using: ${misc:Built-Using}
Description: File system notifications for Go
 fsnotify provides a platform-independent interface for file system notifications.
